body{
	background: url(../images/bg.png) repeat-y;
	background-size:100%;
}
.reveal{
	text-decoration:underline;
}
.reveal + ul{
	visibility: hidden;
}
.reveal:hover{
    cursor:pointer;
    background: #032946;
}​
.navbar{
	background: #032946;
}
#gallery {
		border:1px solid black;
		padding: 10px;
		margin-top:5px;
		width: 520px;
	}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }
